# Core packages
librosa==0.11.0
numpy==1.24.0
matplotlib==3.10.1
pandas==2.2.3
praat-parselmouth==0.4.5
opensmile==2.5.1
typing_extensions==4.13.1
shap==0.47.1
whisperx==3.3.1
spacy==3.8.5
stanza==1.10.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
accelerate==1.6.0
transformers==4.51.0
gdown
pydub
ffmpeg-python
librosa
soundfile
numpy<2 

# spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
